@import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css);

* { margin: 0; padding: 0; }

body {
	font-family: 'Nanum Gothic';
	font-size:12px;
	color:#444;
	width: 100%;
}

a {
	color: #004096;
	outline: none;
	text-decoration: none;
}
a:hover {
	text-decoration: none;
}

p {	margin: 0; }
img { border: none; }
input {	vertical-align: middle; }


#wrapper { width: 100%; position:relative; }


/* Header
-----------------------------------------------------------------------------*/
#header { width: 960px; height: 80px; overflow:hidden; position:relative; margin:0 auto; }
h1 { margin-top: 20px; }
.gnb { overflow:hidden;clear:both;width:100%; position:absolute; left:247px; top:28px; list-style:none; }
.gnb li{ float:left;position:relative; padding: 0 1px 0 0; background:url(../image/main/mline.gif) no-repeat right top; }
.gnb li a{display:block; padding:0 30px; color:#000;text-align:center;text-decoration:none; height: 24px; overflow:hidden; }
.gnb li a:hover img,
.gnb li a.active img { margin-top: -24px; }
.gnb li.end { padding:0; background:none; }

.gnb_open { width:100%; height:0; border-top: 0; position:absolute; top: 80px; background:url(../image/main/gnb_open_back.png) repeat-x 0 0; z-index:100; overflow:hidden; }
.gnb_open .menu_area { width: 960px; min-height:265px; height:auto; margin: 0 auto; background:url(../image/main/txt_2depth.gif) no-repeat 0 20px; }
.gnb_open .menu_area .total_menu { clear:both; list-style:none; margin-left:247px; }
.gnb_open .menu_area .total_menu li { float:left; border-left: 1px #f3f3f3 solid; }
.gnb_open .menu_area .total_menu li.m1 { width:119px; height:265px; padding: 20px 0 20px 0; }
.gnb_open .menu_area .total_menu li.m2 { width:121px; height:265px; padding: 20px 0 20px 0; }
.gnb_open .menu_area .total_menu li.m3 { width:138px; height:265px; padding: 20px 0 20px 0; }
.gnb_open .menu_area .total_menu li.m4 { width:126px; height:265px; padding: 20px 0 20px 0; }
.gnb_open .menu_area .total_menu li.m5 { width:116px; height:265px; padding: 20px 0 20px 0; }
.gnb_open .menu_area .total_menu li.m6 { width:86px; height:265px; padding: 20px 0 20px 0; }

.gnb_open .menu_area .total_menu .sm { list-style:none; margin: 0 5px 0 5px; clear:both; }
.gnb_open .menu_area .total_menu .sm li { letter-spacing: -0.5px; margin-bottom: 5px; clear:both; border:0; }
.gnb_open .menu_area .total_menu .sm li a { display:block; padding: 5px 5px 5px 15px; color:#666; background:url(../image/main/sm_back.gif) no-repeat left top; }
.gnb_open .menu_area .total_menu .sm li a:hover,
.gnb_open .menu_area .total_menu .sm li a.active { background-position:left bottom; color:#fff; font-weight:bold; }
.gnb_open .menu_area .total_menu .m1 .sm li a { width:89px; }
.gnb_open .menu_area .total_menu .m2 .sm li a { width:91px; }
.gnb_open .menu_area .total_menu .m3 .sm li a { width:108px; }
.gnb_open .menu_area .total_menu .m4 .sm li a { width:96px; }
.gnb_open .menu_area .total_menu .m5 .sm li a { width:86px; }
.gnb_open .menu_area .total_menu .m6 .sm li a { width:56px; }
.gnb_open .gnb_close { width: 960px; height:36px; margin: 0 auto; text-align:right; }



/* Visual
-----------------------------------------------------------------------------*/
#sub_visual { overflow:hidden; position:relative; width: 100%; height: 160px; z-index:10; }
.visual_image_1 { background:url(../image/sub/visual_1.jpg) no-repeat center top; }
.visual_image_2 { background:url(../image/sub/visual_2.jpg) no-repeat center top; }
.visual_image_3 { background:url(../image/sub/visual_3.jpg) no-repeat center top; }
.visual_image_4 { background:url(../image/sub/visual_4.jpg) no-repeat center top; }
.visual_image_5 { background:url(../image/sub/visual_5.jpg) no-repeat center top; }
.visual_image_6 { background:url(../image/sub/visual_6.jpg) no-repeat center top; }
.visual_image_7 { background:url(../image/sub/visual_7.jpg) no-repeat center top; }



/* 2depth
-----------------------------------------------------------------------------*/
#menu_2depth { overflow:hidden; position:relative; width: 100%; height: 50px; z-index:10; background:url(../image/sub/2depth_bg.gif) repeat-x 0 0; }
#menu_2depth ul { list-style:none; clear:both; width: 960px; margin: 0 auto; overflow:hidden; }
#menu_2depth ul li { float:left; }



/* Middle
-----------------------------------------------------------------------------*/
#middle { width: 960px; margin:0 auto;	height: 1%;	position: relative; z-index:10; padding: 40px 0 80px 0; }
#middle .contents_title { width: 960px; height: 26px; overflow:hidden; position:relative; margin-bottom: 65px;}
#middle .contents_title .title_position { position:absolute; right:0; bottom: 5px; color: #666; font-size: 12px; }
#middle .contents_title .title_position img { margin-bottom:2px; vertical-align:middle; }
#middle .contents_title .title_position .title_arrow { margin: 0 5px 2px 5px; vertical-align:middle; }



/* company
-----------------------------------------------------------------------------*/
#middle .contents {width:960px; color: #444; font: 13px/20px 'Nanum Gothic';  }

#middle .contents .ceo_image { background:url(../image/company/100.jpg) no-repeat 0 0; }
#middle .contents .ceo_sign {width:750px; text-align:right; padding:30px 210px 0 0;}
#middle .contents .ceo_txt { margin-top:130px; color: #444; font: 14px/22px 'Nanum Gothic'; }

#middle .contents .sub_image_200 { background:url(../image/company/200.jpg) no-repeat right top; }
#middle .image2100 { background:url(../image/business/100_image.jpg) no-repeat right top; }
#middle .image3100 { background:url(../image/van/100_image.jpg) no-repeat right top; }
#middle .image3200 { background:url(../image/van/200_image.jpg) no-repeat right top; }
#middle .image3200_1 { background:url(../image/van/200_image_21.jpg) no-repeat right top; }
#middle .image3300 { background:url(../image/van/300_image.jpg) no-repeat right top; }
#middle .image3400 { background:url(../image/van/400_image.jpg) no-repeat right top; }
#middle .image3500 { background:url(../image/van/500_image.jpg) no-repeat right top; }
#middle .image4900 { background:url(../image/product/900_image.jpg) no-repeat right top; }
#middle .image5100 { background:url(../image/customer/100_image.jpg) no-repeat right top; }
#middle .image5200 { background:url(../image/customer/200_image.jpg) no-repeat right top; }
#middle .image5300 { background:url(../image/customer/300_image.jpg) no-repeat right top; }
#middle .image5400 { background:url(../image/customer/400_image.jpg) no-repeat right top; }
#middle .image5500 { background:url(../image/company/700_image.jpg) no-repeat right top; }
#middle .image6100 { background:url(../image/recruit/100_image.jpg) no-repeat right top; }
#middle .image6200 { background:url(../image/recruit/200_image.png) no-repeat right top; }
#middle .image6300 { background:url(../image/recruit/300_image.jpg) no-repeat right top; }
#middle .image6400 { background:url(../image/recruit/400_image.jpg) no-repeat right top; }
#middle .image7100 { background:url(../image/etc/100_image.jpg) no-repeat right top; }
#middle .image8100 { background:url(../image/sitemap/100_image.jpg) no-repeat right top; }

#middle .conimg3100 { background:url(../image/van/100_image_2.jpg) no-repeat right top; }
#middle .conimg3200 { background:url(../image/van/call.jpg) no-repeat right top; height:125px; }
#middle .conimg3200_1 { background:url(../image/van/200_image_22.jpg) no-repeat left top; min-height:555px; padding: 40px 0 0 405px;}
#middle .conimg4100_1 { background:url(../image/van/400_image_12.jpg) no-repeat right top; min-height:284px; margin-top: 50px;}

#middle .conimg3200_1 .icon1 { background:url(../image/van/icon1.jpg) no-repeat 0 0; padding-left:105px; min-height:90px; }
#middle .conimg3200_1 .icon2 { background:url(../image/van/icon2.jpg) no-repeat 0 0; padding-left:105px; min-height:90px; }
#middle .conimg3200_1 .icon3 { background:url(../image/van/icon3.jpg) no-repeat 0 0; padding-left:105px; min-height:90px; }
#middle .conimg3200_1 .icon4 { background:url(../image/van/icon4.jpg) no-repeat 0 0; padding-left:105px; min-height:90px; }


#middle .contents h4 { font-size: 20px; font-weight: 800; }
#middle .contents h5 { font-size: 16px; font-weight: 600; color:#333; }

#middle .contents .tbox_1,
#middle .contents .tbox_2,
#middle .contents .tbox_3,
#middle .contents .tbox_4 { padding: 15px 0 0 175px; min-height:135px; height:135px; _min-height:150px; _height:150px; }
#middle .contents .tbox_1 { background:url(../image/company/200_1.jpg) no-repeat 0 0; }
#middle .contents .tbox_2 { background:url(../image/company/200_2.jpg) no-repeat 0 0; }
#middle .contents .tbox_3 { background:url(../image/company/200_3.jpg) no-repeat 0 0; }
#middle .contents .tbox_4 { background:url(../image/company/200_4.jpg) no-repeat 0 0; }

#middle .contents .tbox_1 p,
#middle .contents .tbox_2 p,
#middle .contents .tbox_3 p,
#middle .contents .tbox_4 p { margin-top: 15px; }

#middle .contents .license { list-style:none; width: 100%; overflow:hidden; }
#middle .contents .license li { width: 455px; height: 205px; float:left; }
#middle .contents .license li dt { background:url(../image/company/400_ttop.gif) no-repeat 0 0; width: 455px; height: 95px; }
#middle .contents .license li dt span { display: inline-block; margin: 23px 100px 0 20px; font-size: 18px; line-height: 26px; font-weight:600; *letter-spacing: -1px; letter-spacing: -1px \0/IE8; }
#middle .contents .license li dd { padding: 18px 20px;; border-width: 0 1px 1px 1px; border-color: #ccc; border-style:solid; height: 67px; }
#middle .contents .license li .license_txt { list-style:none; }
#middle .contents .license li .license_txt li { margin-bottom: 3px; font-weight:100 !important; color: #666; clear:both; height:auto; }
#middle .contents .license li .license_txt li span { background:url(../image/company/txt_line.gif) no-repeat 100% 60%; padding: 0 11px 0 0; margin-right: 10px; color:#539899; font-weight:600; display:inline-block; width: 50px; }
#middle .contents .license li dl.txt dd { float:left; padding: 0 0 0 10px; border: none; height: auto; margin-bottom: 3px; }

#middle .contents .numlist {list-style:none;}
#middle .contents .numlist li{margin-bottom:10px; font-weight:normal; vertical-align:top; clear:both;}
#middle .contents .numlist.priv li{margin-bottom:4px; font-weight:normal; vertical-align:top;}
#middle .contents .numlist li span{display:block; overflow:hidden; float:left; vertical-align:top;}
#middle .contents .numlist li span strong{ color:#539899; }
#middle .contents .numlist li span em { font-style : normal; font-weight:600;}
#middle .contents .numlist li span.num {display:block;overflow:hidden;float:left;margin:0 10px 0 0;padding:0 11px 0 0;background:url(../image/company/txt_line.gif) no-repeat 100% 60%; vertical-align:top; color:#539899;}
#middle .contents .numlist li:after {display:block; clear:both; content:'';}

#middle .contents .tab_3depth { list-style: none; height: 35px; }
#middle .contents .tab_3depth li { width: 138px; height:33px; border: 1px #ccc solid; color: #666; font-weight:600; font-size: 14px; display:inline-block; border-right: 0; line-height: 33px; text-align: center; margin-right:-4px; *margin-right:0; *display:inline; zoom:1; }
#middle .contents .tab_3depth li a { width: 138px; height:33px; color: #666; font-weight:600; font-size: 14px; float:left; border-right: 0; line-height: 33px; text-align: center; display:inline-block; }
#middle .contents .tab_3depth li.end { border-right: 1px #ccc solid;}
#middle .contents .tab_3depth li.active { border: none; width: 139px; height: 35px; background:url(../image/company/3depth_active.jpg) no-repeat 0 0; color: #fff;}
#middle .contents .tab_3depth li.active a { color: #fff; }

#middle .contents .tab_4depth { list-style: none; clear:both; height:32px; border-bottom: 2px #20588d solid; }
#middle .contents .tab_4depth li { width: 135px; height:31px; overflow:hidden; border: 1px #cccccc solid; color: #666; font-weight:600; font-size: 14px; float:left; border-bottom: 0; line-height: 33px; text-align: center; *margin-bottom: -5px; margin-right: -1px; }
#middle .contents .tab_4depth li a { width: 135px; height:31px; color: #666; font-weight:600; font-size: 14px; float:left; border-right: 0; line-height: 31px; text-align: center; display:inline-block; }
#middle .contents .tab_4depth li.active { border: 2px #20588d solid; border-bottom: none; margin: 0; }
#middle .contents .tab_4depth li.active a { color: #003884; }

#middle .contents p.txt { margin-top: 15px;}
div#wrapper div#middle div.contents p.txt { width: 960px !important; }
#middle .contents p.txt_normal { margin-top: 15px;}
div#wrapper div#middle div.contents p.txt_normal { width: 960px !important; }

#middle .contents p.txt3box { margin-top: 15px; width: 293px !important; }

.test_border { border:1px #F00 solid !important; }

#middle .contents .contents3box {  }
#middle .contents .contents3box:after { display:block;clear:both;content:''; }
#middle .contents .contents3box div { float:left; width:293px; position: relative; }

#middle .contents .contents3box2 { height: 1%;	position: relative; margin-top: 15px; }
#middle .contents .contents3box2:after { display:block;clear:both;content:''; }
#middle .contents .contents3box2 div { float:left; width:300px; position: relative; }

#middle .contents .contents4box { height: 1%;	position: relative; margin-top: 15px; }
#middle .contents .contents4box:after { display:block;clear:both;content:''; }
#middle .contents .contents4box div { float:left; width:217px; position: relative; }

#middle .contents .contents4box2 { padding-left:20px; }
#middle .contents .contents4box2:after { display:block;clear:both;content:''; }
#middle .contents .contents4box2 div { float:left; width:215px; margin-right: 20px; }

#middle .contents .contents5box {width:960px; height:216px; text-align:center;}
#middle .contents .contents5box:after { display:block;clear:both;content:''; }
#middle .contents .contents5box .title {font-family:'Nanum Gothic'; font-size:20px; font-weight:800; display:inline-block; margin-bottom:5px;}
#middle .contents .contents5box .icon01 {float:left; width:215px; height:216px; margin:0 10px 0 10px; background:url(../image/customer/500_icon01.jpg) no-repeat center top; cursor:default;}
#middle .contents .contents5box .icon02 {float:left; width:215px; height:216px; margin:0 10px 0 10px; background:url(../image/customer/500_icon02.jpg) no-repeat center top; }
#middle .contents .contents5box .icon03 {float:left; width:215px; height:216px; margin:0 10px 0 10px; background:url(../image/customer/500_icon03.png) no-repeat center top; }
#middle .contents .contents5box .icon04 {float:left; width:215px; height:216px; margin:0 10px 0 10px; background:url(../image/customer/500_icon04.png) no-repeat center top; }
#middle .contents .contents5box a {width:215px; height:156px; display:block; padding-top:60px; color:#444;}
#middle .contents .contents5box a.email:link, a.email:visited, a.email:active {color: #444; font: 13px 'Nanum Gothic'; text-decoration:none;}
#middle .contents .contents5box a.email:hover {font: 13px 'Nanum Gothic'; color:#0054a5; text-decoration:none;}

#middle .contents .contents_2box_line { margin-top: 15px; border: 1px #ccc solid; padding: 19px; display:inline-block;}
#middle .contents .contents_2box_line:after { display:block;clear:both;content:''; }
#middle .contents .contents_2box_line div { float:left; width:293px; position: relative; }
#middle .contents .contents_2box_line div h6 { color: #539899; font-weight:600; font-size:14px; margin: 2px 0 5px 0; }

#middle .contents table { width: 100%; border-spacing: 5px;}
#middle .contents table caption { display:none; }
#middle .contents table td,
#middle .contents table th { border-bottom: 1px #ccc solid; padding: 8px 10px 13px 18px; text-align:left; }
#middle .contents table th { font-weight:600; color: #333; font-size: 14px; }
#middle .contents table td.top,
#middle .contents table th.top { border-top: 2px #231f20 solid; }
#middle .contents table td.date { font-weight:600; color: #999; }

#middle .contents .table_type2 { table-layout:fixed; }
#middle .contents .table_type2 .top { border-bottom: 0; background-color:#f5f5f5; text-align:center; }
#middle .contents .table_type2 .th { font-weight:600; color: #333; font-size: 14px; text-align:center; }
#middle .contents .table_type2 strong { color: #539899; }

#middle .contents .table_type3 {table-layout:fixed; background:url(../image/van/table_back.jpg) no-repeat 5px 5px;}
#middle .contents .table_type3 th {width:102px;}
#middle .contents .table_type3 .topBorder {border-top: 2px #231f20 solid;}
#middle .contents .table_type3 .top { padding: 13px 10px 13px 18px; }

#middle .contents .table_type4 {table-layout:fixed; background:url(../image/van/table_back2.jpg) no-repeat 5px 5px;}
#middle .contents .table_type4 th {width:102px;}
#middle .contents .table_type4 .topBorder {border-top: 2px #231f20 solid;}
#middle .contents .table_type4 .top { padding: 13px 10px 13px 18px; }

#middle .contents .table_type5 {table-layout:fixed; background:url(../image/van/table_back3.jpg) no-repeat 5px 5px;}
#middle .contents .table_type5 th {width:102px;}
#middle .contents .table_type5 .topBorder {border-top: 2px #231f20 solid;}
#middle .contents .table_type5 .top { padding: 13px 10px 13px 18px; }




#middle .contents .txt_2box { width:960px; height:180px; clear:both; position:relative; background:url(../image/customer/txt_box.png) repeat-y center top; border-top: 1px #ccc solid; border-bottom: 1px #ccc solid; list-style:none; margin-top: 10px; }
#middle .contents .txt_2box.priv { height: 115px; }
#middle .contents .txt_2box li { width: 436px; padding: 17px 22px 17px 22px; float:left; }
#middle .contents .txt_2box li strong { color: #539899; }
#middle .contents ul.txt { list-style: none; margin-top: 10px; }
#middle .contents ul.txt li { background:url(../image/customer/dot.gif) no-repeat 0 10px; padding: 0 0 0 8px; line-height:23px; }
#middle .contents ul.txt li span { font-weight:600; }

#middle .contents .check_list { border: 1px #ccc solid; background-color: #f5f5f5; margin-top: 30px; padding: 17px 20px; }
#middle .contents .check_list strong { color: #b96500; }
#middle .contents .check_list p { color: #565656; font-size: 12px; margin-top:8px; }
#middle .contents .check_list ul { list-style: none; margin-top:5px; }
#middle .contents .check_list ul li { background:url(../image/customer/check.jpg) no-repeat 0 6px; padding: 0 0 0 16px; font-size: 12px; color: #777; }

#middle .contents .b_box { background:url(../image/customer/b_box_back.jpg) repeat 0 0; }
#middle .contents .b_box h5 { background:url(../image/customer/b_box_top.jpg) repeat-x 0 0; padding: 18px 0 0 20px; color: #358182; font-weight:800; font-size:18px; }
#middle .contents .g_box { background:url(../image/customer/g_box_back.jpg) repeat 0 0; }
#middle .contents .g_box h5 { background:url(../image/customer/g_box_top.jpg) repeat-x 0 0; padding: 18px 0 0 20px; color: #357c13; font-weight:800; font-size:18px; }
#middle .contents .y_box { background:url(../image/customer/y_box_back.jpg) repeat 0 0; }
#middle .contents .y_box h5 { background:url(../image/customer/y_box_top.jpg) repeat-x 0 0; padding: 18px 0 0 20px; color: #b48c00; font-weight:800; font-size:18px; }
#middle .contents .o_box { background:url(../image/customer/o_box_back.jpg) repeat 0 0; }
#middle .contents .o_box h5 { background:url(../image/customer/o_box_top.jpg) repeat-x 0 0; padding: 18px 0 0 20px; color: #bf5e00; font-weight:800; font-size:18px; }
#middle .contents .b_box p,
#middle .contents .g_box p,
#middle .contents .o_box p,
#middle .contents .y_box p { padding: 12px 20px 18px 20px; }


#middle .contents .sitemap {width:960px; padding:0; display:inline-block; font-size:0;}

#middle .contents .sitemap .sitemap_box {width:300px; float:left;}
#middle .contents .sitemap .sitemap_box02 {width:300px; float:right;}

#middle .contents .sitemap dl {padding:0; font-size:0;}
#middle .contents .sitemap dl dd {width:300px; font-size:0; padding:18px 0 12px 0; border-bottom: 1px #ccc solid; display:inline-block; line-height:100%;}
#middle .contents .sitemap ul.txt {width:300px; height:15px; list-style:none; margin-top:8px; display:inline-block; line-height:100%;}
#middle .contents .sitemap ul.txt li {background:url(../image/customer/dot.gif) no-repeat 0px 7px; padding: 0 15px 0 5px; float:left; display:inline-block;}
#middle .contents .sitemap ul.txt li span { font-weight:600; }
#middle .contents .sitemap .title {width:300px; text-align:center; font-size:18px; font-weight:800; border-top: 2px #231f20 solid; border-bottom: 1px #ccc solid; padding: 12px 0px 10px 0px; }

#middle .contents .sitemap  a.sitelink:link, a.sitelink:visited, a.sitelink:active { font-size: 14px; font-weight:600; color:#333;}
#middle .contents .sitemap  a.sitelink:hover { font-size: 14px; font-weight: 600; color:#0054a5; text-decoration:underline;}
#middle .contents .sitemap  a.sitelink02:link, a.sitelink02:visited, a.sitelink02:active {color: #444; font: 13px 'Nanum Gothic';}
#middle .contents .sitemap  a.sitelink02:hover {font: 13px 'Nanum Gothic'; color:#0054a5;}



#middle .faq{ font-size:12px; border-top: 2px #231f20 solid; margin-top: 65px;}
#middle .faq ul{margin:0;padding:0;list-style:none}
#middle .faq .q{margin:0; }
#middle .faq .q a.trigger{display:block;padding:12px 20px 12px 45px; font-weight:600; font-size: 13px; color:#222;text-align:left;text-decoration:none !important; border-bottom:1px solid #ccc; background:url(../image/customer/q.png) no-repeat 15px 16px;}
#middle .faq .a{margin:0;padding:13px 15px 13px 70px;line-height:1.5; border-bottom:1px solid #ccc; color: #666; background: none; font-size:13px; background: url(../image/customer/a.jpg) no-repeat 45px 17px; }
#middle .faq .hide .q a.trigger{font-weight:100;background-color:none; }
#middle .faq .show .q a.trigger{ font-weight:600; background-color:#f5f5f5; border-bottom:0; }



#middle .clearboth { position:relative; }
#middle .clearboth:after { display:block;clear:both;content:''; }
#middle .clearboth .thumb { float:left; width: 160px; }
#middle .clearboth .thumb .thm_image { width: 160px; height: 150px; position:relative; over-flow:hidden; }
#middle .clearboth .thumb .thm_image img { filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale"); /* Firefox 10+, Firefox on Android */
    filter: gray; /* IE6-9 */
    -webkit-filter: grayscale(100%); }
#middle .clearboth .thumb .thm_image .box { width: 150px; height: 150px; background:url(../image/product/black.png) repeat 0 0; position:absolute; left:0; top:0; z-index: 10; }
#middle .clearboth .thumb .thm_image .name { width: 150px; height: 25px; background-color:#231f20; color:#fff; font-family:tahoma; font-size:12px; font-weight: bold; position:absolute; left:0; bottom:0; z-index: 10; }
#middle .clearboth .thumb .thm_image .name span { padding: 1px 10px 0 10px; display:inline-block; }
#middle .clearboth .thumb .active { background:url(../image/product/th_active.gif) no-repeat 100% 50%; }
#middle .clearboth .thumb .active .box { background:none !important; width: 142px; height: 142px; border: 4px #0054a5 solid; }
#middle .clearboth .thumb .active .name { background-color:#0054a5; }
#middle .clearboth .thumb .active img {  filter: none; -webkit-filter: grayscale(0); }

#middle .clearboth .product { float:right; width: 780px; height: 630px; background-color:#f8f8f8; position:relative; }
#middle .clearboth .product .info { width: 780px; height: 630px; position:absolute; left:0; top:0; }
#middle .clearboth .product .info .image { position:absolute; left:0; top:0; }
#middle .clearboth .product .info .image_page { position:absolute; right:40px; top: 40px; z-index: 200; }
#middle .clearboth .product .info .image_page span { display:inline-block; width: 40px; height:40px; text-indent: 40px; overflow:hidden; margin-left: 5px; }
#middle .clearboth .product .info .image_page .num1 { background:url(../image/product/n1.jpg) no-repeat left top; }
#middle .clearboth .product .info .image_page .num2 { background:url(../image/product/n2.jpg) no-repeat left top; }
#middle .clearboth .product .info .image_page .num3 { background:url(../image/product/n3.jpg) no-repeat left top; }
#middle .clearboth .product .info .image_page span.active { background-position: left bottom; }

#middle .clearboth .product .txt_info { position:absolute; left: 40px; top: 40px; z-index:100; }
#middle .clearboth .product .txt_info h4 { font-size: 32px; font-weight:800; color:#333; letter-spacing: -2px; line-height: 32px; }
#middle .clearboth .product .txt_info .model { margin-top: 15px; color:#777; font-size:22px; font-weight:600; }
#middle .clearboth .product .txt_info .copy { margin-top: 20px; color:#555; font-size:15px; font-weight:600; }
#middle .clearboth .product .txt_info .prod_list { list-style: none; margin-top: 25px; line-height:22px; }
#middle .clearboth .product .txt_info .prod_list li { color:#666; font-size:14px; background:url(../image/product/dot.png) no-repeat 0 10px; padding: 0 0 0 9px; }

#middle .clearboth .product .icon_list { position:absolute; left:40px; top: 400px; z-index:100; width: 700px }
#middle .clearboth .product .icon_list .icon1 { background:url(../image/product/icon_802_1.jpg) no-repeat 0 0; padding: 0 0 0 80px; margin-top:30px; height: 64px; display:inline-block; }
#middle .clearboth .product .icon_list .icon2 { background:url(../image/product/icon_802_2.jpg) no-repeat 0 0; padding: 0 0 0 80px; margin-top:30px; display:inline-block;  }
#middle .clearboth .product .icon_list .icon3 { background:url(../image/product/icon_802_3.jpg) no-repeat 0 0; padding: 0 0 0 80px; margin-top:30px; height: 64px; display:inline-block;}
#middle .clearboth .product .icon_list .icon4 { background:url(../image/product/icon_802_4.jpg) no-repeat 0 0; padding: 0 0 0 80px; margin-top:30px; height: 64px; display:inline-block;  }
#middle .clearboth .product .icon_list .link { margin-top: 50px; margin-right:70px; text-align:center; }
#middle .clearboth .product .icon_list .list { list-style: none; margin-top: 5px; }
#middle .clearboth .product .icon_list .list li { color:#666; font-size:13px; background:url(../image/product/dot.png) no-repeat 0 7px; padding: 0 0 0 9px; line-height: 18px; margin-bottom: 3px; }

#middle .contents p strong { font-weight:600; color:#0054a5; }
#middle .contents a.email { color:#444; text-decoration:underline; }

#middle .clearboth .h985 { height: 985px !important; }
#middle .clearboth .h895 { height: 895px !important; }

.tcolor_blue { color: #0054a5 !important; }
.tcolor_turquoise { color: #2b7e7f !important; }
.tcolor_green { color: #32830b !important; }
.tcolor_yellow { color: #987600 !important; }
.tcolor_orange { color: #c65900 !important; }
.tcolor_brown { color: #72582c !important; }
.tcolor_pink { color: #942350 !important; }
.tcolor_gray { color: #777 !important; line-height: 140%; }
.tcolor_gray02 { color: #777 !important;}
.bold { font-weight:600; }

.mt5 { margin-top: 5px !important; }
.mt10 { margin-top: 10px !important; }
.mt15 { margin-top: 15px !important; }
.mt20 { margin-top: 20px !important; }
.mt30 { margin-top: 30px !important; }
.mt40 { margin-top: 40px !important; }
.mt45 { margin-top: 45px !important; }
.mt50 { margin-top: 50px !important; }
.mt60 { margin-top: 60px !important; }
.mt65 { margin-top: 65px !important; }
.mt80 { margin-top: 80px !important; }
.mt90 { margin-top: 90px !important; }
.mr20 { margin-right: 20px !important; }
.mr30 { margin-right: 30px !important; }
.mr40 { margin-right: 40px !important; }
.mr50 { margin-right: 50px !important; }
.mb10 { margin-bottom: 10px !important; }
.mb40 { margin-bottom: 40px !important; }
.ml5 { margin-left: 5px !important; }
.ml20 { margin-left: 20px !important; }
.h108 { height: 108px; }
.h120 { height: 90px !important; overflow:hidden }
.h227 { height: 227px; }
.w960 { width:960px !important; }
.w293 { width:293px !important; }
.pt40 { padding-top: 40px !important; }
.center { text-align:center !important; }
.cb {clear:both;}


/* Footer
-----------------------------------------------------------------------------*/
#footer { width: 960px; height: 105px; margin:0 auto; border-top: 2px #dfdfdf solid; position: relative; overflow:hidden; z-index:1000; }
#footer:after {	content: ''; clear: both; display: table; }

#footer .copylogo { width: 120px; float:left; margin-top:20px;}
#footer .copymenu { float:left; margin-top:20px; }
#footer .select { width:220px; height:25px; position:absolute; right:0; top:25px; }
#footer .select .btn { width:220px; height:25px; overflow:hidden; background:url(../image/main/copy_select.jpg) no-repeat center top; }

.select_open { background-color:#fff; border: 1px #ccc solid; border-bottom: 1px #eee solid; width: 218px; position:absolute; right:50%; margin-right: -480px; bottom: 79px; list-style:none; z-index:1000; display:none; }
.select_open li { border-bottom: 1px #eee solid; }
.select_open li.end { border:0; }
.select_open li a {display:block; padding:6px 12px 6px 12px; width: 216px; color: #666;}
.select_open li:hover { background-color:#2e4a73; }
.select_open li:hover a {color: #fff;}


.select_open { background-color:#fff; border: 1px #ccc solid; border-bottom: 1px #eee solid; width: 218px; position:absolute; right:50%; margin-right: -480px; bottom: 79px; list-style:none; z-index:1000; display:none; }
.select_open li { border-bottom: 1px #eee solid; }
.select_open li.end { border:0; }
.select_open li a { display:block; padding:6px 12px 6px 12px; width: 216px; color: #666; }
.select_open li:hover { background-color:#2e4a73; }
.select_open li:hover a { color: #fff; }