.bulding{background: url(images/skyline2.png) no-repeat;width: 1400px;position: relative; background-color: #b53d30;height: 800px;overflow: hidden;}
.car {background: url(images/car_black.png) no-repeat;width: 200px;height: 200px;position: absolute;top:450px;animation: car 5s infinite linear;}
.bus {background: url(images/truck_black.png) no-repeat;width: 200px;height: 200px;position: absolute;top:500px;animation: bus 5s infinite linear;}
.rain{background: url(images/snow1.png);width: 100%;height: 100%;position: absolute;animation: rain 8s infinite linear;}

.light {    width: 20px;
    height: 21px;
    border-radius: 8px;
    background-color: yellow;
    position: absolute;
    top: 203px;
    left: 454px;
  animation:light 2s infinite; }
@keyframes rain {
  0% {
      top: -100px;left: -100px/*Viewport units*/
  }
  /*The viewport is the area where the browser renders the site.
  This is your screen minus the reserved space of the browser chrome
  vw: hundredths of the viewport width. So 100 vw is complete the width of the display area.*/
  100% {

      top: 300px; left: 150px;
  }
}
@keyframes light {
  0% {
      background-color: yellow;
  }
  50% {
      background-color: black;
  }
  100%{background-color: yellow;}
}

@keyframes car {
  0% {
      left: 100vw;/*Viewport units*/
  }
  /*The viewport is the area where the browser renders the site.
  This is your screen minus the reserved space of the browser chrome
  vw: hundredths of the viewport width. So 100 vw is complete the width of the display area.*/
  100% {

      left: -128px;
  }
}
@keyframes bus {
  0% {
      right: 100vw;/*Viewport units*/
  }
  /*The viewport is the area where the browser renders the site.
  This is your screen minus the reserved space of the browser chrome
  vw: hundredths of the viewport width. So 100 vw is complete the width of the display area.*/
  100% {

      right: -128px;
  }
}
