@import url("reset.css");

body {font:bold 14px arial; color: #2699fb; width: 100%;position: relative;}
input {font: 14px arial; color: #2699fb;}

/* head */
.main_head {height: 48px;}
.logo {height: 48px;line-height: 48px; text-align: center;}
.back_ico img {padding: 16px}
.menu_ico, .back_ico {position: absolute;top: 0px; }
/* end head */

/* section battery */
#myProgress {  width: 128px;height: 60px;  background-color: #e7eced;border-radius: 5px;position: relative;    margin: auto;margin-top: 43px}
#myBar {width: 10%;height: 60px; background-color: #4CAF50;  text-align: center;  color: white;border-radius: 5px 0 0 5px;line-height: 60px;}
#myProgress::after {content: "";width: 8px;height:20px;background: #c7cac7;position: absolute;right: -8px;  top: 20px;}
section{margin-top: 38px;}
.batteryimg {height: 100px;text-align: center;}
.pruduct_main {width: 90%;margin: auto;}
.product_list {margin-bottom: 32px;height: 40px;position: relative;}
.product_img img{width: 40px; height: 40px;}
.description {position: absolute;left: 50px; top: 5px;}
.description em{color:gray;font-size: 12px;}
.battery_percentage {position: absolute;right: 10px;top: 12px;font: 10px Arial;}
/* end section battery */



/* luck */
.app_name {position: absolute;left: 50px; top: 12px;}
.switch {position: relative;display: inline-block;width: 60px;height: 34px;}
.switch input {display:none;}
.password {padding-bottom: 40px; text-align: center;}
.password img {width: 42%;max-width: 200px;}
.slider { position: absolute; cursor: pointer; top: 0;left: 0; right: 0;bottom: 0;background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}
  
  .slider:before {
    position: absolute;
    content: "";
    height: 32px;
    width: 32px;
    left: 1px;
    bottom: 1px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #2196F3;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }

  /*end luck  */