@font-face {
    font-family: 'montserrat_alternateslight';
    src: url('fonts/montserratalternates-light-webfont.woff2') format('woff2'),
         url('fonts/montserratalternates-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'montserratmedium';
    src: url('fonts/montserrat-medium-webfont.woff2') format('woff2'),
         url('fonts/montserrat-medium-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
body {font-family: montserratmedium;}
h1 {
border-bottom: 2px solid rgb(100,200,100);
letter-spacing: 13px;
border-top: 2px dashed grey;
color: #12ACB3;
border-color: #4D26C3;
}
p {line-height: 20px; width: 100px; margin-left: 20%; color: #2551C0;}
img{width: 200px;}
@media screen and (min-width: 500px) {
img {content:url(pearbig.png);width: 500px}
}
