@import url("import.css");


section {padding:7px;background:#2d3039;height:414px;}
section input {float:right;}
section article h2 {color:#bec7d6;font:16px "Rix고딕 B";margin-top:200px;text-align:center;}


